My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        40
      ],
      "id": "8a16fe64-d3d9-487d-8974-efe3cf7a7aa8",
      "name": "AI Agent",
      "notes": "انت مساعد ذكي ترد على اسألت العملاء استفسار عن منتج او سعر او الشحن و غيرها \nمهمتك:\n1. فهم سؤال العميل مثل \"كم المنتج الذي يطلبه؟\" أو \"هل هوه متوفر الان او ما الاوان الموجوده و غيرها؟\"\n2.  shopify wizard store استخدم اداة  \n3. استخدم الأداة دائمًا للبحث عن المنتج بالاسم الذي ذكره العميل.\n4. إذا وجدت المنتج، أعد له:  \n   \"✅ سعر المنتج [اسم المنتج] هو [السعر] ريال.\"\n\n5. إذا لم تجده، قل له:  \n   \"❌ عذرًا، لم أجد منتجًا بهذا الاسم.\"\n\nتنبيهات:\n- لا تخمّن الأسعار أو ترد من نفسك.\n- JSON، بل رد بشري فقط.\n\n↪️ إذا لم تجدها في البيانات ترُد:  \n\"❌ عذرًا، لم أجد منتجًا بهذا الاسم.\"\n\nابدأ بالرد عندما يكون لديك النتيجة من الأداة."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        28,
        260
      ],
      "id": "a8f5d5d7-78f1-48ba-82f0-ca811c31dc01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "biZGWPxrk3LJe3ym",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        148,
        260
      ],
      "id": "2146a272-d7f2-4263-901e-5ddbe1341d53",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        40
      ],
      "id": "5179f049-c7a8-4ec9-ba53-bbf4d1aef575",
      "name": "Telegram Trigger",
      "webhookId": "efe429dd-49e2-4809-9e80-201d2c097ee9",
      "credentials": {
        "telegramApi": {
          "id": "B6ihbZ4IoOmHlgPR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        300,
        240
      ],
      "id": "18b17ae3-cd0e-4018-8afb-26e8596e8e05",
      "name": "Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "T7DMqKHhFCGEWEr2",
          "name": "Shopify Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab1813d1-d70b-4cd6-9236-59a01d401a78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2eefa3c2fdeb65256eeddaffb2bf60bdcaa48a88ab56d0f10ae4cbb8bddfdf2"
  },
  "id": "G9QZy9PV5uTyUwf7",
  "tags": []
}